.Section4 {
    width: 1252px;
    height: 129px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #D6D4D2;
    background: #E5F2FF;
    margin-bottom: 100px;
}

.txt-sec-4 {
    width: 800px;
    color: #001298;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 140% */
}

.txt-italic {
    color: #001298;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    line-height: 42px;
}